<div class="container" style="background-color: rgb(228, 255, 248)">
    <div class="row justify-content-center">
        <strong class="my-2" style="font-size: 13px;">Fuente N° {{ indexOfList + 1 }}</strong>
        <div class="row">
            <div class="col-4">
                <small class="text-body-secondary">Peso</small>
            </div>
            <div class="col-4">
                <small class="text-body-secondary">Tipo</small>
            </div>
            <div class="col-4">
                <small class="text-body-secondary">Costo</small>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <strong>{{ flatterOfList.weight }} Kg</strong>
            </div>
            <div class="col-4">
                <strong>{{ flatterOfList.type }}</strong>
            </div>
            <div class="col-4">
                <strong>S/. {{ flatterOfList.cost }}</strong><span class="text-danger">
                    &nbsp;<s>S/. {{ flatterOfList.cost }}</s></span>
            </div>
        </div>
        <div class="col-12 mb-2">
            <span style="font-style: italic;">{{ flatterOfList.description }}</span>
        </div>
        <div class="col-4 mb-2">
            <button class="btn btn-success rounded-0 btn-sm form-control" (click)="clickOpenEditFlatterDialog()">Editar</button>
        </div>
        <div class="col-4 mb-2">
            <button class="btn btn-danger rounded-0 btn-sm form-control" (click)="clickDeleteFlatter()">Eliminar</button>
        </div>
    </div>
</div>